body {
  background-color: rgb(252, 210, 210);
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-brand {
  margin-top: 0;
}

.content {
  background-color: rgb(255, 215, 215);
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid black;
}

.card {
  padding: 0;
  margin: 20px auto;
  max-width: 18rem;
  border: 3px solid black;
}

.custom-icon {
  background-color: black;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title,
.card-text {
  margin-bottom: 1rem;
}

.btn {
  align-self: center;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/2;
  object-fit: cover;
  mix-blend-mode: darken
}

.footer {
  background-color: #abacaf;
  padding: 1rem;
  text-align: center;
  border-top: 3px solid black;
}

.github-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  aspect-ratio: 3/2;
  object-fit: cover;
  mix-blend-mode: darken
}

.footer p {
  margin: 0;
}

.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
}
